a {
  color: blue; 
  text-decoration: none;
}

body, p, td {
  font-family: Verdana;
  font-size: 10pt;
}

h1 {
  font-family: Courier New, Courier;
  font-size: 20pt;
  font-weight: bold;
}

h2 {
  font-family: Courier New, Courier;
  font-size: 18pt;
  font-weight: bold;
}

.header {
  color: #A0A0A0;
}

.footer {
  color: #A0A0A0;
  font-size: 6pt;
}

.mini {
  font-size: 8pt;
}